:root {
    --font-sans-serif: Muli, sans-serif;
    --white: #fff;
    --beige-light: #ededed;
    --grey-dark: #333;
    --blue: #00AFE9;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   
  h1{
    font-family: "muli", sans-serif;
    font-weight: 700;
    font-style: normal;
  }