<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=divice-width, initial-scaled=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/eed5lcb.css"/>
    <script src="https://kit.fontawesome.com/a389c60d1f.js" crossorigin="anonymous"></script>
    <title>Components Lookingglass</title>
</head>

<body>
<h2>TYPOGRAPHY DEFAULTS</h2>

<article class="component">
<h3 class="component__name">Body</h3>
<img
srcset="img/body.png 2x"
 src="img/body.png">
    <p class="card__highlights">See yourself here, Chicago. In the Lookingglass.</p>

    <p>A partnership with one of this city’s leading Black theatre companies. A homegrown holiday hearth-warmer. Two original CHI-made works each featuring unconventional central characters. A twirl around five extraordinary homespun districts (from Englewood to Edgewater to Avalon Park and more). And a transcendent summer sunset ritual that draws us all back waterside.</p>

    <p>Distinct. Unique. Reflecting is our function.</p>

Become a member and come see yourself at Lookingglass.</p>

<img
srcset="img/body__play.png 2x"
 src="img/body__play.png">
    <p class="card__highlights">Produced by Congo Square Theatre In Residence at Lookingglass Theatre</p>

    <p>Written by <strong>Aleshea Harris</strong></p>
    <p>Directed by <strong>Artistic Associate Ericka Ratcliff and Daniel Bryant</strong></p>
    
    <p>In residence at Lookingglass Theatre Company, produced by Congo Square, returning this Fall is Aleshea Harris’ What to Send Up When It Goes Down. Described as a play-pageant-ritual-homegoing celebration, What to Send Up When It Goes Down responds to the gratuitous loss of Black lives and interrupts discourses that enable the ubiquity of racialized violence in our society.</p> 
    
    <p>This vibrant, necessary, soul-stirring event played to sold-out houses in the Spring and we are proud to host its return. In line with Congo Square and our commitment to community engagement, we are proud to announce that half of the tickets for each performance will be donated to local community groups.</p> 
    
    <p><strong>Running September 24 – October 16, 2022</strong></p>
    <p><strong>Lookingglass Theatre in Water Tower Water Works</strong></p>

<h3>Headings</h3>
<img 
srcset="img/h1.png 2x"
src="img/h1.png">
<img 
srcset="img/h1_2.png 2x"
src="img/h1_2.png">
<div class="h1__code">
    <h1>SEASON 2022-23 Now On Sale</h1>
    <h1>Upcoming Events</h1>
</div>
<img
srcset="img/h3.png 2x"
 src="img/h3.png">
<div class="h3__code">
    <h3 class="play__name">What to Send Up When It Goes Down</h3>
</div>
<h2>NAV</h2>
<h3>Header Nav</h3>
<img 
srcset="img/logoplustopnav.png 2x" 
src="img/logoplustopnav.png">
<div class="header__code">
    <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__list__item__logo"><img src="img/Lookingglass-Logo-2018.png"></li>
          <li class="header-nav__list__item"><a href="#">Tickets</a></li>
          <li class="header-nav__list__item__active"><a href="#">Plays and Events<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item"><a href="#">Plan Your Visit<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item"><a href="#">Ensemble<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item"><a href="#">Get Curious<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item"><a href="#">About<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item__support"><a href="#">Support<i class="fa-solid fa-angle-down"></i></a></li>
          <li class="header-nav__list__item"><a href="#"><i class="fa-light fas fa-search"></i></a></li>
        </i></a>
        </ul>
      </nav>
</div>

<h3>Buttons</h3>

<img 
srcset="img/ticketbutton.png 2x"
src="img/ticketbutton.png">

<article>
<div class="cardbutton__code">
    <a href="#!" class="button">Get Tickets</a>
    </article>
</div>

<h3>Scroll Arrow</h3>
<img 
srcset="img/scrollarrow.png 2x"
src="img/scrollarrow.png">
<div class="scroll__code">
    <div class="scrollbutton__code">
        <a href="#!" class="button"><i class="fa-solid fa-angle-up"></i></a>
    </div>
</div>
<h2>Hero Section</h2>
<h3>Hero Banner</h3>
<img 
srcset="img/charlandlucscreenshot.png 2x"
src="img/charlandlucscreenshot.png">

<div class="container__banner">
    <h2>LUCY AND CHARLIE'S HONEYMOON is now on sale! Direct from his Broadway debut in ALMOST FAMOUS THE MUSICAL, Artistic Associate Matthew C. Yee’s world premiere musical romp gives a nod to America’s past, takes tally of its present, and blows its future wide open.</h2>
    <div class="herobutton__code">
        <a href="#!" class="button">LEARN MORE</a>
        </div>
        </article>
    </div>


<h2>Main Section</h2>
<h3>Card Example</h3>
<img srcet="img/cardscreenshot.png 3x"
    src="img/cardscreenshot.png">
<section class="page-section">

    <div class="container">
    
    <article class="card">
        <img
        src="img/lucyandcharlieposter.png">
        <h3>LUCY AND CHARLIE'S HONEYMOON</h3>
            <p>Newlyweds Lucy and Charlie are embracing the worst of the American Dream. They’re First Generation Asian American Renegades. In love. And on the run.</p>
            <p>Direct from his Broadway debut in Almost Famous The Musical, Matthew C. Yee’s quirky, quintessentially American yarn follows a young couple fleeing expectation and trawling up trouble along the way.</p>
            <p><strong>Performances Begin May 24!</strong></p>
    <div class="cardbutton__code">
    <a href="#!" class="button">GET TICKETS</a>
    </div>
            
    </article>
    <article class="card">
    </article>
    <article class="card">
    </article>
    
    </div>
    </section>
<h2>Aside</h2>
<h3>Embedded Youtube Video</h3>
<img srcset="img/videoscreenshot.png 2x"
     src="img/videoscreenshot.png">
     <div class="container__vidsection">
        <h1>LOOKINGGLASS BRINGS STORIES TO LIFE... AND LIFE TO STORIES.</h1>
        <iframe width="520" height="315"
    src="https://www.youtube.com/embed/u_Fb968c-v0">
    </iframe>
    </div>
<h3>Sponsor Images</h3>
<img 
srcset="img/sponsors.png 2x"
src="img/sponsors.png">
<div class="aside__code">
<h3 class="season__sponsors">Season Sponsors</h3>
<article class="logos__top"><img
srcset="img/BMOLogo.png 4x" 
rc="img/BMOLogo.png">
<img
srcset="img/HearnLogo.png 4x" 
src="img/Hearnlogo.png">
<img
srcset="img/HMSlogo.png 4x" 
src="img/HMSlogo.png">
</article>
<article class=logos__bottom><img 
srcset="img/ShirleyRyanlogo.png 4x"
src="img/ShirleyRyanlogo.png">
<img 
srcset="img/WaldorfAstorialogo.png 4x"
src="img/WaldorfAstorialogo.png">
</article>
</div>
<h2>Footer</h2>

<img 
srcset="img/footer.png 2x"
src="img/footer.png">
<div class="container__footer">
<div class="footer__left">
    <p>&#169;2023 Lookingglass Theatre Company. All Rights Reserved.</p>
    <div class="email__code">
        <a href="#!" class="button">Join Our Email List</a>
    </div>
<div class="footer__right">
    <p class="footer__contact"><strong>Theatre & Box Office</strong></p> 
    <p class="footer__contact">821 N Michigan Ave, Chicago, IL 60611 312.337.0665</p>
    <p class="footer__contact"><strong>Mailing Address</strong></p>
    <p class="footer__contact">3320 W Foster #102, Chicago, IL 60625 773.477.9257</p>
    <p class="scrollbutton__code">
        <a href="#!" class="button"><i class="fa-solid fa-angle-up"></i></a>
    </p>
    </div>
    </div>
</div>
</div>

