<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=divice-width, initial-scaled=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/eed5lcb.css">
    <title>Components Lookingglass</title>
</head>
<body>
<h1>Web Components Go Here</h1>

<h2>TYPOGRAPHY DEFAULTS</h2>
<h3>Body</h3>
<h3>Headings</h3>
<h2>NAV</h2>
<h3>Header Nav</h3>
<h3>Scroll Arrow</h3>
<h3>Footer Nav</h3>
<h3>Hero Section</h3>
<img src="img/heroimage@2x.png">
</body>
</html>