:root {
    --font-sans-serif: Muli, sans-serif;
    --white: #fff;
    --beige-light: #ededed;
    --grey-dark:#464444;
    --grey-lighter: #6b6a6a;
    --blue: #00AFE9;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--grey-lighter);
  }
   
  h1{
    font-family: "muli", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 45px;
    color: var(--grey-dark);
  }

  h3 {
    font-family: "muli", sans-serif;
    font-weight: 520;
    font-size: 20px;
    color: var(--grey-dark);
  }

  .card__highlights{
    font-weight: bold;
  }
  .play__name{
    background-color: var(--beige-light);
    padding: 10px 10px 10px;
    color: var(--grey-dark);
    font-style: italic;
  }

  .button{
    text-decoration: none;
    color:var(--white);
  }
  .ticketbutton__code{
    display: inline-block;
    font-family: "muli", sans-serif;
    font-weight:lighter;
    font-size: 20px;
    text-decoration: none;
    color:var(--white);
    background:var(--blue);
    display: inline-block;
    padding: 10px 17px;
  }

  .memberbutton__code{
    display: inline-block;
    font-family: "muli", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color:var(--white);
    background:var(--blue);
    display: inline-block;
    padding: 10px 17px;
  }

  .email__code{
    display: inline-block;
    font-family: "muli", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color:var(--white);
    background:var(--blue);
    display: inline-block;
    padding: 10px 100px;
  }

  .footer__code{
    background-color: var(--grey-lighter);
    color: var(--white);
  }